/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  background-size: cover;
  padding: 30px;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: blue;
  text-align: center;
}

@media screen and (max-width: 570px) {
  .responsive-container {
    width: 90%;
  }
  .heading {
    font-size: 20px;
  }
}
